<div class="container">
  <div class="row">
  <form [formGroup]="form" (submit)="search()" style="margin: 20px">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" id="title" placeholder="Search title" formControlName="title">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="priority">Priority</label>
          <select id="priority" class="form-control" formControlName="priority">
            <option *ngFor="let priority of priorities">
              {{priority}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="reporter">Reporter</label>
          <select id="reporter" class="form-control" formControlName="reporter">
            <option *ngFor="let reporter of reporters">
              {{reporter}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="status">Status</label>
          <select id="status" class="form-control" formControlName="status">
            <option *ngFor="let status of statuses">
              {{status}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <button (click)="search()" class="btn btn-success">search</button>
  </div>

    <div class="col-12" style="margin-top: 5%">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="title">
                        Title</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="priority">
                        Priority</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="reporter">
                        Reporter</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="createdAt">
                        Created at</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="status">
                        Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bugsList">
                    <td>{{ item.title }}</td>
                    <td>{{ item.priority }}</td>
                    <td>{{ item.reporter }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="float: right">
        <button (click)="previous()" class="btn btn-success" style="margin: 10px">Previous </button>
        <button (click)="next()" class="btn btn-success " style="margin: 10px">Next</button>
    </div>
</div>
