

      <!-- <button type="button" name="orderBy" class="btn btn-primary"
        (click)="userParams.orderBy='title,desc'">title</button>
        <button type="button" name="orderBy" class="btn btn-primary"
        (click)="userParams.orderBy='reporter,asc'">title</button> -->
  
<div class="container">
    <div class="col-12">

<table class="table table-striped" [mfData]="bugsList" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
      <th style="width: 20%">
          <mfDefaultSorter by="name">Title</mfDefaultSorter>
      </th>
      <th style="width: 50%">
          <mfDefaultSorter by="email">Priority</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="city">Reporter</mfDefaultSorter>
    </th>
      <th style="width: 10%">
          <mfDefaultSorter by="age">Date Created</mfDefaultSorter>
      </th>
      <th style="width: 20%">
          <mfDefaultSorter by="foo">Status</mfDefaultSorter>
      </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mf.data">
      <td>{{item.title}}</td>
      <td>{{item.priority}}</td>
      <td class="text-right">{{item.reporter}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.status}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
  </tfoot>
</table>

</div>
</div>