<div class="container">
    <div class="col-12" style="margin-top: 5%">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="title">
                        Title</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="priority">
                        Priority</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="reporter">
                        Reporter</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="createdAt">
                        Created at</th>
                    <th scope="col">
                        <input type="radio" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.sortBy"
                            (click)="orderBy()" value="status">
                        Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bugsList">
                    <td>{{ item.title }}</td>
                    <td>{{ item.priority }}</td>
                    <td>{{ item.reporter }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>{{ item.status }}</td>
                    <td><button [routerLink]="['/bug', item.id]">Edit</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
